[{erpc, [{client_config, [{'ERPC', [{hosts, [{"localhost", 9091}, 
                                            {"localhost", 9092}
                                           ]}
                                   ]}]},

	 {server_config, [{listen_port, 9090},
			  {default_node_acl, allow}]},

         {logger_mf, {io, format}}
        ]
 }
].

